<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1,
        user-scalable=no"
      name="viewport"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Maitree"
      rel="stylesheet"
    />
    <title>Register</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@^5.0.0/css/materialdesignicons.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/ionicons@^4.0.0/dist/css/ionicons.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/eva-icons@^1.0.0/style/eva-icons.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/quasar@1.15.4/dist/quasar.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <style>
      html,
      body {
        height: 100%;
      }

      body {
        background: #f8f8f8;
      }

      main {
        width: 100%;
      }

      #pictureUrl {
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>

  <body>
    <div id="q-app" class="q-pa-xs" style="font-family: 'Maitree', serif">
      <q-toolbar class="bg-red text-white">
        <q-toolbar-title>Register / ลงทะเบียน</q-toolbar-title>
      </q-toolbar>

      <div class="row q-mt-xs q-col-gutter-sm justify-center">
        <div class="col-md-3 col-xs-12">
          <div class="text-center">
            <!-- <img src="logo-1a.png" alt="" width="80%" /> -->
            <img id="pictureUrl" width="25%" />
            <p id="displayName"></p>
          </div>
        </div>
      </div>
      <div class="row q-mt-xs q-col-gutter-sm justify-center">
        <div class="col-md-12 col-xs-12">
          <q-input outlined v-model="empcode" label="เลขที่ พนง." stack-label>
            <template v-slot:label>
              <span class="text-h6 my-label">เลขที่ พนง.</span>
            </template>
          </q-input>
        </div>
      </div>
      <div class="row q-mt-xs q-col-gutter-sm justify-center">
        <div class="col-md-12 col-xs-12">
          <q-input
            v-model="pwd"
            label="รหัสผ่าน"
            outlined
            :type="isPwd ? 'password' : 'text'"
            stack-label
          >
            <template v-slot:label>
              <span class="text-h6 my-label">รหัสผ่าน</span>
            </template>
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
        </div>
      </div>
      <div class="row q-mt-xs q-col-gutter-sm justify-center">
        <div class="col-md-12 col-xs-12">
          <q-btn size="md" class="full-width bg-primary text-white">
            <div class="text-center text-h6">ลงทะเบียนใช้งาน</div>
          </q-btn>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.4/dist/quasar.ie.polyfills.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.4/dist/quasar.umd.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    var app = new Vue({
      el: '#q-app',
      data: {
        isPwd: false,
        empcode: '',
        pwd: '',
      },
      created() {},
      async mounted() {},
    });
  </script>
</html>
