<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1,
        user-scalable=no"
      name="viewport"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Maitree"
      rel="stylesheet"
    />
    <title>Hardware Repair</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@^5.0.0/css/materialdesignicons.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/ionicons@^4.0.0/dist/css/ionicons.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/eva-icons@^1.0.0/style/eva-icons.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/quasar@1.15.4/dist/quasar.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <style>
      html,
      body {
        height: 100%;
      }

      body {
        background: #f8f8f8;
      }

      main {
        width: 100%;
      }

      #pictureUrl {
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>

  <body>
    <div id="q-app" class="q-pa-xs" style="font-family: 'Maitree', serif">
      <q-toolbar class="bg-red text-white">
        <q-toolbar-title>Hardware Repair / แจ้งซ่อมอุปกรณ์ไอที</q-toolbar-title>
      </q-toolbar>

      <div class="row q-mt-xs q-col-gutter-sm justify-center">
        <div class="col-md-6 col-xs-12">
          <div class="bg-grey-12 q-pa-sm rounded-borders">
            บริษัท :
            <q-option-group
              dense
              inline
              v-model="company"
              :options="companys"
              color="primary"
            />
          </div>
        </div>
      </div>
      <div class="row q-mt-xs q-col-gutter-sm justify-center">
        <div class="col-md-6 col-xs-12">
          <div class="bg-grey-2 q-pa-sm rounded-borders">
            แจ้งซ่อมอุปกรณ์ไอที :
            <q-option-group
              dense
              inline
              v-model="hardware"
              :options="hardwares"
              color="primary"
              type="checkbox"
            />
          </div>
        </div>
      </div>
      <div class="row q-mt-xs q-col-gutter-sm justify-center">
        <div class="col-md-6 col-xs-12">
          <q-input
            dense
            outlined
            v-model="mobile"
            label="เบอร์โทรติดต่อ"
            stack-label
          />
        </div>
      </div>
      <div class="row q-mt-xs q-col-gutter-sm justify-center">
        <div class="col-md-6 col-xs-12">
          <q-input dense outlined v-model="email" label="E-mail" stack-label />
        </div>
      </div>
      <div class="row q-mt-xs q-col-gutter-sm justify-center">
        <div class="col-md-6 col-xs-12">
          <q-input
            dense
            outlined
            v-model="desc"
            type="textarea"
            label="รายละเอียด / อาการ"
            stack-label
          />
        </div>
      </div>
      <div class="row q-mt-xs q-col-gutter-sm justify-center">
        <div class="col-md-6 col-xs-12">
          <q-file
            outlined
            dense
            v-model="attachimg"
            label="แนบไฟล์ รูปภาพ ณ สถานที่ทำงาน"
            @input="chkFile"
          >
            <template v-slot:prepend>
              <q-icon name="attach_file" />
            </template>

            <template v-if="attachimg" v-slot:append>
              <q-icon
                name="cancel"
                @click.stop.prevent="attachimg = null"
                class="cursor-pointer"
              />
            </template>
          </q-file>
        </div>
      </div>
      <div class="row q-mt-xs q-col-gutter-sm justify-center">
        <div class="col-md-6 col-xs-12">
          <q-btn class="full-width" color="deep-orange" glossy label="บันทึก" />
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.4/dist/quasar.ie.polyfills.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.4/dist/quasar.umd.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script
    charset="utf-8"
    src="https://static.line-scdn.net/liff/edge/2/sdk.js"
  ></script>
  <script>
    var app = new Vue({
      el: '#q-app',
      data: {
        map: null,
        company: '',
        mobile: '',
        email: '',
        desc: '',
        attachimg: null,
        companys: [
          { label: 'JAY', value: 'JAY' },
          { label: 'JMB', value: 'JMB' },
          { label: 'JAS', value: 'JAS' },
          { label: 'BNB', value: 'BNB' },
          { label: 'JVC', value: 'JVC' },
        ],
        hardware: [],
        hardwares: [
          { label: 'PC/Notebook', value: 'PC/Notebook' },
          { label: 'Network/Lan/Wifi', value: 'Network/Lan/Wifi' },
          { label: 'Printer', value: 'Printer' },
          { label: 'Software', value: 'Software' },
          { label: 'CCTV', value: 'CCTV' },
          { label: 'POS Casa', value: 'POS Casa' },
        ],
      },
      created() {},
      async mounted() {
        liff.init({ liffId: '1657229309-Oml6AgRK' });
        liff.ready.then(() => {
          // if (!liff.isLoggedIn()) {
          //   liff.login();
          // }
          liff.getProfile().then((profile) => {
            // userId = profile.userId;
            // pictureUrl = profile.pictureUrl;
            // displayName = profile.displayName;
            // document.getElementById('pictureUrl').src = profile.pictureUrl;
            // document.getElementById('displayName').innerHTML =
            //   profile.displayName;
            console.log(profile);
          });
        });
      },
      methods: {
        chkFile() {},
      },
    });
  </script>
</html>
